# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/

# Logs
logs/
*.log


# Temp files
*.bak
*.swp
*~

# IDE
.idea/
.vscode/

# OS-specific
.DS_Store
Thumbs.db

# Testing
.coverage
htmlcov/
.pytest_cache/
.mypy_cache/
coverage.xml
bandit-report.json

# Build
dist/
build/
*.egg-info/